apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prayer-call-uploads
  namespace: prayer-call
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prayer-call-config
  namespace: prayer-call
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
