apiVersion: v1
kind: Service
metadata:
  name: prayer-call-service
  namespace: prayer-call
  labels:
    app: prayer-call
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: prayer-call
